{
  "presets": ["react-native"],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "containers": "./src/containers",
        "pages": "./src/pages",
        "ducks": "./src/ducks",
        "components": "./src/components",
        "shared": "./src/shared"
      },
      "extensions": [".js", ".ios.js", ".android.js", ".json"]
    }]
  ]
}
