<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StudentCompanion.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
				<key>dateExpires</key>
				<string>5/20/18</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QBImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RNFS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RSKImageCropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>React.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_camera_kit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>react_native_fetch_blob.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>14EF4C8CBC112AEBA17E5EA38D58F7A19EE48296</string>
						<key>dateExpires</key>
						<string>5/20/18</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>yoga.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RV75X33TAB</string>
						<key>name</key>
						<string>Nwaokocha Victor</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RV75X33TAB.org.reactjs.native.example.StudentCompanion</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>RV75X33TAB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>StudentCompanion.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d67e7bae-aad6-4328-b334-bb357e47176c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.reactjs.native.example.StudentCompanion</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RV75X33TAB</string>
				<key>name</key>
				<string>Nwaokocha Victor</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
